/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.half-container {
    width: 50%;
}

.container-big {
    width: 80%;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 255, 0, 0.2);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.text-r {
    text-align: right;
}

.pt-50 {
    padding-top: 50px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pr-50 {
    padding-right: 50px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
}

.col-blue {
    background-color: #0061ff;
    color: white;
}

/* HEADER */
header {
    padding: 0 15px;
    background-color: white;
}


header .half-container ul li {
    display: inline;
    list-style: none;
    margin-right: 50px;
    line-height: 60px;
    padding-bottom: 18px;
}

header .half-container ul .start {
    padding-right: 20px;
    padding-bottom: 10px;
    margin-right: 0;
}

header .half-container ul li img {
    vertical-align: middle;
}

header .half-container ul li a {
    line-height: 40px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header .half-container ul .btn > a {
    color: white;
}

header .half-container ul li:hover {
    border-bottom: 2px solid #000;
}

header .half-container ul .start:hover {
    background-color: rgb(49, 138, 253);
    border-bottom: 0;
}

/* HERO */

.hero {
    background-color: #b4d0e7;
}

.hero-title {
    font-size: 45px;
    padding: 50px 0;
}

.hero-content {
    width: 40%;
    padding-right: 205px;
    font-weight: 600;
}

.hero-img {
    width: 60%;
    transform: translateY(10%);
}

.hero-img img {
    max-width: 100%;
}

.hero-content a {
    display: inline-block;
}

.hero-clause {
    padding: 10px 0 20px;
}

.next {
    margin-top: 15px;
    font-size: 40px;
}

.next a {
    color: black;
}

