/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-weight: 600;
}

/* UTILITIES */

.half-container {
    width: 50%;
}

.container-big {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.collumn-50 {
    width: 50%;
}

.collumn-90 {
    width: 90%;
}
.collumn-10 {
    width: 10%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.text-r {
    text-align: right;
}

.py-6 {
    padding: 6vh 0;
}

.py-15 {
    padding: 15vh 0;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt-5 {
    padding: 5vh 0;
}

.pt-10 {
    padding-top: 10vh;
}

.pt-15 {
    padding-top: 15vh;
}

.pt-50 {
    padding-top: 50px;
}

.pb-5 {
    padding-bottom: 5vh;
}

.pb-15 {
    padding-bottom: 15vh;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-32 {
    padding-right: 32vw
}

.pr-50 {
    padding-right: 50px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.col-blue {
    background-color: #0061ff;
    color: white;
}

.transparent {
    border: 1px solid #000;
    color: black;
}

.col-white {
    background-color: #fff;
    color: black;
}

.bb-1 {
    border-bottom: 1px solid rgb(158, 158, 158);
}

.bt-1 {
    border-top: 1px solid rgb(158, 158, 158);
}

/* HEADER */
header {
    padding: 0 15px;
    background-color: white;
}


header .half-container ul li {
    display: inline;
    list-style: none;
    margin-right: 50px;
    line-height: 60px;
    padding-bottom: 18px;
}

header .half-container ul .start {
    padding-right: 20px;
    padding-bottom: 10px;
    margin-right: 0;
}

header .half-container ul li img {
    vertical-align: middle;
}

header .half-container ul li a {
    line-height: 40px;
    text-decoration: none;
    color: black;
}

header .half-container ul .btn > a {
    color: white;
}

header .half-container ul li:hover {
    border-bottom: 2px solid #000;
}

header .half-container ul .start:hover {
    background-color: rgb(49, 138, 253);
    border-bottom: 0;
}

/* HERO */

.hero {
    background-color: #b4d0e7;
}

.hero-title {
    font-size: 45px;
    padding: 50px 0 10px 0;
}

.hero-content {
    width: 40%;
    padding: 85px 205px 0 0;
}

.hero-img {
    width: 60%;
}

.hero-img img {
    transform: translateY(17%);
}

.hero-img img {
    max-width: 100%;
}

.hero-content a {
    display: inline-block;
}

.hero-clause {
    padding: 10px 0 20px;
}

.next {
    margin-top: 15px;
    font-size: 40px;
}

.next a {
    color: black;
}

/* MAIN */

/* SUB SECTION */
.sub-header h2 {
    font-size: 45px;
    font-weight: 800;
    padding-bottom: 6vh;
}

.sub-collumn {
    min-height: 115vh;
    width: 30%;
}

.sub-collumn,
.enterprise-sub {
    border: 1px solid rgb(148, 148, 148);
}

.middle {
    margin: 0 5%;
}

/* COLLUMN HEADER */

.collumn-header,
.enterprise-header {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgb(148, 148, 148);
}

.collumn-header a,
.enterprise-header a {
    color: black;
    text-decoration: none;
}

.collumn-header a i,
.enterprise-header a i {
    padding-right: 7px;
}

/* COLLUMN CONTENT */

.collumn-content,
.enterprise-content {
    padding: 20px 30px;
}

.collumn-content h3,
.enterprise-content h3 {
    font-size: 32px;
}

.sub-type li,
.sub-description li,
.enterprise-content li {
    list-style: none;
}


.sub-price {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.collumn-content .fa-ul {
    margin-left: 23px;
}

.fa-ul li {
    padding-bottom: 20px;
}

.free-trial a {
    text-decoration: none;
    color: #fff;
}

.buy-now a {
    color: #0061ff;
}

.collumn-content hr {
    margin: 2% 80% 12% 0;
}

/* HIGHLIGHTS SECTION */

.highlights-list .fa-ul li h3 {
    margin-left: -25px;
    font-size: 19px;
}

.highlights-list .fa-ul .fa-li {
    color: #0061ff;
}

/* ENTERPRISE SUB */

.enterprise-content {
    width: 70%;
}

.enterprise-btn {
    width: 30%;
    line-height: 10vh;
}

/* PARTNER SECTION */

.partner-img {
    width: 50%;
}

.partner-img img {
    max-width: 100%;
}

.partner-content {
    width: 50%;
    padding: 50px;
}

.partner-content h3 {
    font-size: 27px;
    font-weight: 700;
}

.partner-content p {
    padding: 25px 0 40px;
}

/* OPERATION SECTION */

.op-square {
    width: calc(100% / 3);
    padding: 4vh 8vh 4vh 0;
}

.operation h2:first-child {
    font-size: 44px;
    padding-top: 10vh;
}

.op-square img {
    max-width: 100%;
}

.op-square h3 {
    font-size: 24px;
    padding-bottom: 3vh;
}

.op-square a {
    color: #000;
}

/* TEAMS AREA */

.team-header h2 {
    font-size: 41px;
}

.team-header a {
    color: #0061ff;
}

/* TEAM CONTENT */

.team-content {
    width: calc(100% / 3);
    height: 60vh;
}

.partner-box {
    width: 50%;
    height: 50%;
    text-align: center;
    padding-top: 22%;
}

.partner-box img {
    max-width: 60%;
    transform: translateY(-50%);
    filter: invert(1);
}

.central-collumn {
    padding: 3%;
}

.central-collumn img {
    width: 30%;
}

.central-collumn hr {
    margin-right: 90%;
    border: 1px solid rgb(189, 189, 189);
}

/* BACKGROUND COLOR SECTION */

.bgc-green {
    background-color: #a2d39b;
}

.bgc-bordeaux {
    background-color: #61082b;
}

.bgc-lightblue {
    background-color: #0093ce;
}

.bgc-red {
    background-color: #ff1c1c;
}

.bgc-azure {
    background-color: #b4d0e7;
}

.bgc-blue {
    background-color: #0d2481;
}

.bgc-yellow {
    background-color: #ffd830;
}

.bgc-gray {
    background-color: #f5f5f5;
}

.bgc-black {
    background-color: #000;
    color: #fff;
}

/* NEW PARTNERS AREA */

.collumn-50 h2 {
    font-size: 50px;
    color: #61082b;
}

.collumn-50 a {
    padding: 10px 50px;
}

/* FAQS */

.faqs {
    padding: 15vh 0;
}

.faq-title h2 {
    font-size: 38px;
}

/* FOOTER */

.footer-collumn {
    width: calc(100% / 5);
    padding-right: 7%;
}

.footer-collumn h3 {
    font-size: 25px;
    padding-bottom: 2vh;
}

.footer-collumn ul li {
    list-style: none;
    line-height: 30px;
}

.footer-collumn ul li a {
    text-decoration: none;
    color: #fff;
}

.lenguage-slt span {
    width: 10%;
    margin-right: 90%;
    color: #888888;
    vertical-align: middle;
    font-weight: 400;
}